<!-- ######## This is a comment, visible only in the source editor  ######## -->
<h1 style="color: #000000;"><span style="color: #000000;">Recover password</span></h1>
<p>Dear user,</p>
<p>We received a request to reset your application password.</p>
<p>Your OTP: {{otp}}</p>
<p>If you didn't request, please ignore this email.</p>
<hr />
